* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;


}

.navbar {
    height: 60px;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 120px;
    padding: none;
    display: flex;
    align-items: center;

}

.logo {
    background-image: url(hbasket_logo1.png);
    height: 40px;
    background-size: cover;
    width: 100%;
}
.logo1 {
    background-image: url(image.png);
    height: 50px;
    background-size: cover;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
    padding: 8px;
    height: 50px;
}

.border:hover {
    border: 1.5px solid white;

}

/* box-2 */



.add-first {
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 20px;
}

.add-second {
    color: white;
    font-size: 1rem;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box3 */
.nav-search:hover {
    border: 3px solid #febd68;
    border-radius: 4px;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    width: 850px;
    height: 40px;
    border-radius: 4px;

}

.s-select {
    background-color:#d7d7d7d1;
    width: 55px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.s-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/* box 4 */

.nav-language{
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.flag{
    display: flex;
    align-items: flex-end;
}
.nav-language p {
    position: relative;
    top: 2px; 
    font-size: 1rem;
    font-weight: 700;
}
.f-logo{
    background-image: url(f-logo.png);
    background-size: cover;
    height: 15px;
    width: 25px;
    margin-right: 4px;
    margin-top: 8px;
}

/* box-5 */

span {
    font-size: 0.8rem;
}

.nav-s {
    font-size: 0.9rem;
    font-weight: 700;
}

/* box-6 */

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

.panel {
    height: 40px;
    background-color: #3E2723;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}

.panel-2 p {
    display: inline;
    margin-left: 15px;
}

.panel-2 {
    width: 70%;
    font-size: 0.85rem;
    border: 1rem underline white;
}

.panel-2 p{
    text-decoration:none;
    transition: text-decoration 2s;
}

.panel-2 p:hover{
    text-decoration:1.5px underline;
    text-underline-offset: 5px;

}


.panel-3 {
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero-section */
.hero-section {
    animation:amazshow 10s ease-out infinite;
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

@keyframes amazshow{
    0%{
     background-image:url(hero_image.jpg); 
    }
    12%{
     background-image:url(hero_image.jpg); 
    }
    24%{
        background-image: url(image2.png);
    }
    36%{
        background-image: url(image2.png); 
    }
    48%{
        background-image: url(image3.png); 
    }
    60%{
        background-image: url(image3.png); 
    }
    72%{
        background-image: url(image4.png); 
    }
    88%{
        background-image: url(image4.png); 
    }
     100%{
     background-image:url(hero_image.jpg);
     } 
}

.hero-m {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 30px;
}

.hero-m a {
    color: #007185;
}

/* shop-sec */
.shop-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #F5F5F5;

}

.box {
    border: none;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 15px;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007185;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* footer */
footer {
    margin-top: 15px;
}

.foot-panel-1 {
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;

}

.foot-panel-2 {
    background-color: #3E2723;
    color: white;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: 10px;
}
ul p{
    font-weight: 700;
    margin-bottom: 20px;
}

.foot-panel-3 {
    background-color: #3E2723;
    color: white;
    height: 70px;
     border-top: 0.5px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.foot-logo {
    height: 50px;
    width: 150px;
}
.foot-panel-4{
    background-color: #000000;
    color: #fff;
    height: 80px;
     font-size: 0.7rem;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.pages{
   
    padding-top: 25px;
}
.copy-right{
    
     padding-top: 5px;
}